@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    --containerwidth: 85%;
    --greensr: #58979E;
    --whitegreen: #f3feff;
    --blackgreen: #19222c;
    --blackshadow: #253f42;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--whitegreen);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--greensr);
}

header .navcontainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--containerwidth);
    height: 100%;
}

header a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 18px;
    color: white;
}

header .nava {
    display: flex;
    align-items: center;
    padding: 0 20px 0 2px;
    height: 100%;
}

header .navb {
    position: absolute;
    right: 0;
}

header .navb * {
    text-align: center;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article .artcontainer {
    display: grid;
    grid-template-areas:
        "left right"
    ;
    grid-template-columns: 2fr 1fr;
    width: var(--containerwidth);
}

article .text {
    grid-area: left;
    padding: 0 5% 0 0;
    font-family: 'Nunito', sans-serif;
    color: var(--blackgreen);
}

article .text h1 {
    font-size: 40px;
}

article .text p {
    text-align: justify;
}

article .sidepic {
    grid-area: right;
    width: 100%;
}

article .soccontainer {
    display: flex;
    justify-content: flex-start;
}

article .socicon a {
    margin-right: 20px;
}

article .socicon img {
    width: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    background-color: var(--blackgreen);
}

footer .footcontainer {
    display: flex;
    justify-content: center;
    width: var(--containerwidth);
}

footer p {
    margin: 0 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

footer p span{
    font-size: 18px;
}

/* HOVER */

@media (min-width: 728px) {

    header .nava:hover {
        position: relative;
        top: -10px;
        left: -10px;
        border: 1px solid var(--blackshadow);
        box-shadow: 10px 10px var(--blackshadow);
    }

    article .socicon:hover img {
        position: relative;
        top: -10px;
    }
}
